{{! Show the nagivation bar. }}
<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/" ><img src="http://worldartsme.com/images/schedule-clipart-1.jpg" link="/" alt="Italian Trulli" style="width:50px" > Scheduler 3000 </a>
</nav>
