<h1>Welcome To Super Schedule Master 3000</h1>

<div>
    <p>You can undertake the following tasks:</p>
    <ul>
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/log_in">Log In</a></li>
        <li><a href="/reset-password">Reset Password</a></li>
        <li><a href="/set-core-hours">Set Core Hours</a></li>
        <li><a href="/commitments">View Commitments</a></li>
    </ul>
</div>
