<div id="sign-up-page">
    <div class="row">
        <div class="col-8">
            <log-in-static-heading></log-in-static-heading>
            <button><a href="/sign-up">Sign Up New Account</a></button>
            <instructions details="Enter your email and password to Log In."></instructions>

            <form id="sign-up-form" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" id="email" name="email"
                           type="email" placeholder="Your email address" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password"
                           type="password" placeholder="Non-trivial password" required>
                </div>
                {{ errors }}
                <input class="btn btn-primary" type="submit" value="Log In">
            </form>
        </div>
    </div>
</div>

<script src="/public/sign-up.js"></script>
