<div id="set-core-hours">
    <h1>Set Core Hours</h1>
    <h2>Current Core Hours</h2>
    <ul>
        <li>Core Start Time: \{{ oldcorehoursstart }}</li>
        <li>Core End Time: \{{ oldcorehoursend }}</li>
    </ul>
    <h2>New Hours</h2>
    <form id="set-core-hours-form" method="POST">
        <div class="form-group">
            <label for="core-hours-start">Core Hours Start</label>
            <input class="form-control" id="core-hours-start" name="coreHoursStart"
                   type="time">
            <label for="core-hours-end">Core Hours End</label>
            <input class="form-control" id="core-hours-end" name="coreHoursEnd"
                   type="time">

        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

<script src="/public/set-core-hours.js"></script>