<h2>Welcome, Set Core Hours</h2>

<div>
    <p>Set Core Hours</p>
    <form id="set-core-hours-form" method="POST">
        <div class="form-group">
            <label for="core-hours-start">Core Hours Start</label>
            <input class="form-control" id="core-hours-start" name="coreHoursStart"
                   type="time">
            <label for="core-hours-end">Core Hours End</label>
            <input class="form-control" id="core-hours-end" name="coreHoursEnd"
                   type="time">

        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
